rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /records/{record} {
      allow read, create: if request.auth != null && request.auth.token.email.matches('.*@lssh.tp.edu.tw');
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
    match /teams/{team} {
      allow read, create, update: if request.auth != null && request.auth.token.email.matches('.*@lssh.tp.edu.tw');
    }
    match /pushUsers/{user} {
      allow create: if request.auth != null && request.auth.token.email.matches('.*@lssh.tp.edu.tw');
    }
  }
}